.zav-loader-widget-container {
    position: absolute;
    z-index: 200;
    bottom: 15px;
    left: 0px;
    width: 350px;
    height: 15px;
    display: inline-block;

    .zav-loader-widget {
        background-color: #00ffd9;
        height: 15px;
        filter: blur(10px);
        border-radius: 50%;
        animation: .6s linear .05s infinite loading-effect;
    }
}


@keyframes loading-effect {
    from {
        width: 35px;
        opacity: 1;
    }
    to {
        width: 350px;
        opacity: 0;
    }
}