@use "variables" as *;

$region-bullet-size: 13px;
$region-expand-handle-size: $region-bullet-size;
$region-searchbox-height: 34px;
$region-treestatus-height: 20px;
$region-detailpane-height: 150px;

.zav-Tree {
	position: absolute;
	top: $zavlogo-height + $region-searchbox-height;
	right: 0;
	bottom: $region-treestatus-height;
	left: 0;
	z-index: 10;

	display: block;
	margin: 0;
	padding: 0 0 0 2px;

	box-sizing: border-box;
	list-style-type: none;
	list-style-image: none;
	background-color: #e1e1e1;
	width: 100%;
	overflow-y: scroll;
	overflow-x: scroll;
}

.zav-Tree[data-hasselectedregion="true"] {
	bottom: $region-treestatus-height + $region-detailpane-height;
}

.zav-TreeSubItems {
	display: block;
	padding-left: 0;
	margin-left: 16px;
	margin-top: 0;
	list-style-type: none;
}

.zav-TreeSubItemsRoot {
	margin-left: 2px;
}

.zav-TreeSubItems[data-ishovered="true"] {
	background: #e7f4f9;
}

.zav-TreeItemCont {
	display: block;
	font-size: 13px;
	line-height: 24px;
	margin-top: 0;
	border-left: dotted 1px grey;
	position: relative;
}

.zav-TreeItemCont[data-islastchild="true"] {
	border-left-color: transparent;
}

.zav-TreeItemCont[data-isroot="true"] {
	border-left-color: transparent;
	margin-left: -10px;
}

.zav-TreeItemCont[data-isexpanded="false"] > ul {
	display: none;
}

.zav-TreeItemLink {
	display: inline-block;
	height: 24px;
	width: 16px;
	position: relative;
	top: 0;
	left: 0;
	border-left: dotted 1px transparent;
	vertical-align: top;
}

.zav-TreeItemLink::after {
	content: "";
	position: absolute;
	left: 1px;
	right: -6px;
	top: calc(50% + 0.5px);
	border-bottom: dotted 1px grey;
}

.zav-TreeItemLink[data-islastchild="true"]::after {
	right: 0;
}

.zav-TreeItemLink[data-islastchild="true"]::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: calc(50% + 1px);
	border-left: dotted 1px grey;
}

.zav-TreeItemCont[data-isroot="true"] > .zav-TreeItem > .zav-TreeItemLink {
	width: 8px;
}

.zav-TreeItemCont[data-isroot="true"] > .zav-TreeItem > .zav-TreeItemLink::after {
	display: none;
}

.zav-TreeItem {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	vertical-align: top;
}

.zav-TreeItemHeader {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 3px;
	min-height: 24px;
	padding: 0 5px 0 1px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
	-webkit-user-select: none; /* Safari・Chrome */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE */
	-o-user-select: none; /* Opera */
}

.zav-TreeItemHeaderButton {
	appearance: none;
	display: inline-flex;
	align-items: center;
	background: none;
	border: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	cursor: pointer;
	min-width: 0;
	line-height: inherit;
}

.zav-TreeItem[data-exists="false"] > .zav-TreeItemHeader {
	color: grey;
	cursor: initial;
}

.zav-TreeItem[data-exists="true"][data-isselected="false"] > .zav-TreeItemHeader:hover {
	background: #e7f4f9;
}

.zav-TreeItem[data-isselected="true"] > .zav-TreeItemHeader {
	background: $region-selected-color;
}

.zav-TreeItemCont[data-highlight="0"] {
	display: none;
}

.zav-TreeItem[data-highlight="F"] > .zav-TreeItemHeader {
	color: grey;
}
.zav-TreeItem[data-highlight="H"] > .zav-TreeItemHeader {
	color: #8b0000;
}

.zav-TreeItemLabelBullet {
	appearance: none;
	display: inline-block;
	height: $region-bullet-size;
	width: $region-bullet-size;
	padding: 0;

	position: relative;
	top: 0;

	border: solid 2px transparent;
	border-radius: $region-bullet-size;
	margin-right: 7px;
	flex: 0 0 auto;
	vertical-align: middle;
}

.zav-TreeItemLabelBullet[data-exists="false"] {
	border-color: #fff;
}

.zav-TreeItemHandle {
	appearance: none;
	cursor: pointer;
	border: dotted 1px lightgrey;
	background-color: white;
	padding: 0;
	font: inherit;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $region-expand-handle-size;
	height: $region-expand-handle-size;
	text-align: center;
	vertical-align: middle;

	margin-right: 0;

	font-weight: bold;
	color: gray;
	flex: 0 0 auto;
}

.zav-TreeItemHandle[data-haschild="false"] {
	cursor: default;
	background-color: transparent;
	border-color: transparent;
}

.zav-TreeItemHandleText {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	line-height: 1;
}

.zav-TreeItemHandle[data-isexpanded="false"] .zav-TreeItemHandleText::before {
	content: "+";
}
.zav-TreeItemHandle[data-isexpanded="true"] .zav-TreeItemHandleText::before {
	content: "-";
}

.zav-TreeItemHandle[data-haschild="false"] .zav-TreeItemHandleText::before {
	content: "";
}

.zav-TreeStatus {
	position: absolute;
	width: 100%;
	height: $region-treestatus-height;
	bottom: 0px;

	overflow: hidden;

	border-top: solid 2px #80808042;
	background-color: #e1e1e1;
}

.zav-TreeStatusContent {
	padding: 1px;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.zav-SearchBox {
	height: $region-searchbox-height;
	background: #333;
	border-bottom: solid 2px #80808042;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.zav-RegionDetail .bp6-popover-content,
.zav-RegionDetail .bp5-popover-content,
.zav-RegionDetail .bp3-popover-content {
	padding: 4px !important;
}

.zav-RegionDetail .bp6-popover-arrow,
.zav-RegionDetail .bp5-popover-arrow,
.zav-RegionDetail .bp3-popover-arrow {
	display: none;
}

.zav-RegionDetailContent {
	background-color: #e1e1e1;
	padding: 8px;
}

.zav-RegionDetailGroupings {
	padding: 2px 4px;
	font-size: 13px;
}

.zav-RegionGrpngsTarget {
	margin-left: 12px;
}

.zav-RegionToaster .bp6-toast,
.zav-RegionToaster .bp5-toast,
.zav-RegionToaster .bp3-toast {
	background-color: #e1e1e1cc;
}

.zav-RegionDetailPane {
	position: absolute;
	width: 100%;
	height: $region-detailpane-height;
	bottom: $region-treestatus-height;
	z-index: 5;
	border: solid 1px #fff;
	overflow-x: hidden;
	overflow-y: auto;
}
